
:root {
    --background-item: #fff6ea;
    --background-product: #D5ED9F;
    --background: #ffe0ae ;
    --text-color: #800000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: block;
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
}

#container {
    display: flex;
    background-color: var(--background);
    padding: 20px;
    width: 100%;
    gap: 15px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.products {
    position: relative;
    display: block;
    background-color: var(--background-item);
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
}

.products h1 {
    display: block;
    border-bottom: 2px lightgray solid;
}

.products .product {
    position: relative;
    display: flex;
    background-color: var(--background-product);
    text-align: center;
    width: 100%;
    margin-top: 10px;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.products .product #select-product {
    max-width: 30px;
}

.products .product .seen-product {
    text-decoration: none; 
    color: red;
}


.products .product .seen-product:hover {
    color: #ffa384;
}

.products .product .information-product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    text-align: left;
}

.truncate-1 {
    display: -webkit-box;  
    color: var(--text-color);
    -webkit-line-clamp: 1;      
    -webkit-box-orient: vertical; 
    overflow: hidden;            
    text-overflow: ellipsis;   

}

.information-product .quantity {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
}

.quantity .quantity-func {
    position: relative;
    display: flex;
    gap: 10px;
    color: var(--text-color);
    background-color: #d5edcc;
    padding: 5px;
    border-radius: 10px;
}

.quantity .quantity-func a {
    color: var(--text-color);
}

.quantity .quantity-func a:hover {
    color: rgb(252, 0, 0);
}

.products .product .image
{
    position: relative;
    display: inline-block;
}

.products .product .img
{
    position: relative;
    display: block;
    width: 100%;
    max-width: 250px;
    max-height: 200px;
    border-radius: 20px;
    object-fit: contain;
}

.animation-img {
    position: absolute;
    display: inline-block;
    opacity: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100px;
    padding: 10px;
    border-radius: 20px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.104);
    transform: translateY(100%);
    transition: 0.3s ease-in-out;
    z-index: -1;
}


.products .product .image:hover .animation-img
{
    opacity: 1;
    transform: translateY(0%);
    z-index: 1;
}

.products .product .image:hover .img {
    filter: blur(4px);
    transition: 0.3s ease-in-out;
}

.pay {
    display: block;
    width: 30%;
    background-color: var(--background-item);
    padding: 10px;
    border-radius: 10px;
}

.pay .header {
    display: block;
    border-bottom: 2px lightgray solid;
    margin-bottom: 2px;
}

.pay .content {
    display: block;
    border-bottom: 2px lightgray solid;
    margin-bottom: 10px;
}

.pay .content table {
    width: 100%;
}

.pay .content tr {
    display: flex;
    justify-content: space-between;
}

.pay .content .total-amount {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.pay .footer .btn {
    display: block;
    padding: 9px 12px;
    text-decoration: none;
    border-radius: 15px;
    color: white;
    text-align: center;
}

.pay .footer .btn-pay {
    background-color: red;
    display: inline-block;
}

.pay .footer .btn-voucher {
    background-color: #399918;
}


.pay .footer .btn:hover {
    background-color: #ffa384;
    transition: 0.3s ease-in-out;
}


@keyframes my-animation-product {
    0% {
        opacity: 0;
        height: 100px;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        height: 100px;
        z-index: 2;
        transform: translateY(0%);
    }
}