:root {
    --background: #ffe0ae ;
}
#container {
    background-color: antiquewhite;
    
}

.main_content {
    max-width: 90%;
    margin-left: auto;
    text-align: left;
    margin-right: auto;
}   