
:root {
    --background: #ffe0ae ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: block;
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
}

#container {
    background-color: var(--background);
    display: block;
    padding: 12px 24px;
}

.nav-bar {
    position: relative;
    display: block;
    background-color: #f6ebeb;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: auto;
}

.nav-bar .list-bar {
    position: relative;
    display: flex;
    width: 100%;
    gap: 10px;
}

.interview .list-bar {
    justify-content: space-around;
}

.nav-bar .list-bar .small-bar {
    position: relative;
    display: block;
    width: calc(100% / 4);
    text-align: center;
    background-color: #fff6ea;
    border-radius: 10px;
    padding: 10px;
    max-width: 260px;
}

.nav-bar .list-bar .small-bar img {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
}
.nav-bar .list-bar .small-bar a {
   text-decoration: none;
   color: black;
}

.nav-bar .list-bar .small-bar p {
    text-align: center;
}

#container .shop-banner .image-banner {
    position: relative;
    display: block;
    background-size: contain;
    width: 100%; 
    height: 100%; 
    background-repeat: no-repeat;
}

#container .shop-banner {
    background: antiquewhite;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}

#container .promotions {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    overflow: hidden;
}

#container .promotions .promotion {
    position: relative;
    background-color: #fff6ea;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    width: 70%;
    min-width: 0;
}

#container .promotions h2 {
    margin-bottom: 10px;
}

#container .promotions .promotion img {
    display: flex;
    height: 300px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

#container .promotions .events-new_products {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

#container .promotions .events-new_products .events {
    position: relative;
    display: block;
    background-color: #fff6ea;
    border-radius: 10px;
    padding: 10px;
}

#container .promotions .events-new_products .new-products {
    position: relative;
    display: block;
    background-color: #fff6ea;
    border-radius: 10px;
    padding: 10px;
}

#container .promotions .events-new_products img {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

#container .promotions .img {
    position: relative;
}

.list-products-sale .products-sale,
.list-products .products {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.list-products-sale .products-sale .product-sale,
.list-products .products .product {
    position: relative;
    display: flex;
    background-color: #fff6ea;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
}

.truncate-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;      
    -webkit-box-orient: vertical; 
    overflow: hidden;            
    text-overflow: ellipsis;  
}
.list-products-sale .products-sale .product-sale .image,
.list-products .products .product .image
{
    position: relative;
    display: flex;
    justify-content: center;
}
.list-products-sale .products-sale .product-sale .img,
.list-products .products .product .img
{
    position: relative;
    display: block;
    width: 100%;
    max-width: 250px;
    max-height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.animation-img {
    position: absolute;
    display: inline-block;
    opacity: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 50%;
    padding: 10px;
    border-radius: 10px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.104);
    transform: translateY(10%);
    transition: 0.3s ease-in-out;
    z-index: -1;
}

.list-products-sale .products-sale .product-sale .image:hover .animation-img,
.list-products .products .product .image:hover .animation-img
{
    opacity: 1;
    transform: translateY(0%);
    z-index: 2;
}

.list-products-sale .products-sale .product-sale .image:hover .img,
.list-products .products .product .image:hover .img {
    filter: blur(4px);
    transition: 0.3s ease-in-out;
}

.list-products-sale .products-sale .product-sale .btn,
.list-products .products .product .btn {
    display: inline-block;
    padding: 9px 12px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
}

.list-products-sale .products-sale .product-sale .btn-buy,
.list-products .products .product .btn-buy {
    background-color: red;
}

.list-products-sale .products-sale .product-sale .btn-cart,
.list-products .products .product .btn-cart {
    background-color: #89af7d;
}

.list-products-sale .products-sale .product-sale .btn:hover,
.list-products .products .product .btn:hover {
    background-color: #ffa384;
    transition: 0.3s ease-in-out;
}
