:root {
    --background: #ffe0ae;
    --background-item: #fff6ea;
    --background-btn: #d2e0fb;
}

.title-information {
    display: block;
}

.title-information .form-information {
    border-bottom: 2px lightgray solid;
}

.late .form-information  {
    border-bottom: none;
}

.title-information .form-information label {
    width: 80px;
}

.title-information .form-information .btn {
    display: block;
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 8px;
    background-color: var(--background-btn);
    border: 1px solid var(--background-btn);
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.title-information .form-information .btn:hover {
    background-color: #83abfc;
    transition: 0.3s ease-in-out;
}

.title-information .form-information input {
    display: block;
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid lightgray;
    width: 100%;
    max-width: 400px;
    padding-left: 5px;
    font-size: 16px;
}

.title-information .form-information select {
    display: block;
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid lightgray;
    width: 100%;
    max-width: 400px;
    padding-left: 5px;
    font-size: 16px;
}

.title-information .form-information input:focus-visible {
    border: none;
    outline: none;
    box-shadow: 0 0 5px 5px #6dbdf2;
}

.title-information .form-information .group {
    display: flex;
    margin-bottom: 10px;
}

.title-information .form-information a {
    display: block;
    text-decoration: none;
    padding-bottom: 1px;
    color: rgb(144, 0, 0);
}

.title-information .form-information a:hover {
    text-decoration: none;
    color: rgb(255, 0, 0);
    transition: 0.3s;
}