
:root {
    --background-item: #fff6ea;
    --background-product: #D5ED9F;
    --background: #ffe0ae ;
    --text-color: #800000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: block;
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
}

#container {
    position: relative;
    background-color: var(--background);
    padding: 20px;
}

#container .form-order {
    position: relative;
    display: block;
    background-color: var(--background-item);
    padding: 20px;
    border-radius: 20px;
}

.form-order .header {
    border-bottom: 2px lightgray solid;
}

.form-order .content form {
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-order .content form input {
    padding: 5px 10px;
    outline: 1px gray;
    outline-style: solid;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    width: 60%;
}

.form-order .content form input[type='number']::-webkit-inner-spin-button,
.form-order .content form input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-order .content .order-information table {
    width: 60%;
}

.form-order .content .order-information tr {
    text-align: left;
}

.form-order .content .information input:focus {
    outline: 0;
    box-shadow: 0px 0px 2px 2px #4e4e4e;
}

.form-order .content .information .error-input {
    outline: 0;
    box-shadow: 0px 0px 2px 2px red;
}

.form-order .content .item {
    color: #800000;
}

.form-order .content .payment-method {
    position: relative;
    display: block;
}

.form-order .content .payment-method .select-banking {
    position: relative;
    display: flex;
    width: auto;
    flex-direction: row;
    gap: 20px;
}

.payment-method .select-banking .action-select-banking {
    border: 2px solid lightgray;
    border-radius: 10px;
}

.payment-method .select-banking .banking {
    max-height: 100px;
}

.form-order .content .payment-method img {
    position: relative;
    width: auto;
    width: 100%;
    max-height: 100px;
    max-width: 100px;
    height: 100%;
    width: auto;
    object-fit: cover;
    border-radius: 10px;
}

.form-order .footer {
    margin-top: 5px;
    border-top: 2px lightgray solid;
}

.form-order .footer .btn {
    display: inline-block;
    padding: 9px 12px;
    background-color: red;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

.form-order .footer .btn:hover {
    background-color: gray;
}
