
:root {
    --background-item: #fff6ea;
    --background: #ffe0ae ;
    --text-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: block;
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
}

#container {
    width: 100%;
    background-color: var(--background);
    padding: 20px;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header .fill {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center
}

.header .fill .fill-item {
    position: relative;
    display: block;
    padding: 9px 12px;
    background-color:#fffbf0;
    border-radius: 10px;
    justify-content: center;
}

.header .fill .fill-item:hover {
    background-color:gray;
    transition: 0.2s ease-in-out;
}

.header .fill a {
    text-decoration: none;
    color: var(--text-color);
}

.list-products .products {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.list-products .products .product {
    position: relative;
    display: flex;
    background-color: var(--background-item);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
}

.truncate-1 {
    display: -webkit-box;        
    -webkit-line-clamp: 1;      
    -webkit-box-orient: vertical; 
    overflow: hidden;            
    text-overflow: ellipsis;  
}

.list-products .products .product .image
{
    position: relative;
    display: inline-block;
}

.list-products .products .product .img
{
    position: relative;
    display: block;
    width: 100%;
    max-width: 250px;
    max-height: 200px;
    border-radius: 20px;
    object-fit: contain;
}

.animation-img {
    position: absolute;
    display: inline-block;
    opacity: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100px;
    padding: 10px;
    border-radius: 20px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.104);
    transform: translateY(20px);
    transition: 0.3s ease-in-out;
    z-index: -1;
}


.list-products .products .product .image:hover .animation-img
{
    opacity: 1;
    transform: translateY(0%);
    z-index: 1;
}

.list-products .products .product .image:hover .img {
    filter: blur(4px);
    transition: 0.3s ease-in-out;
}


.list-products .products .product .btn {
    display: inline-block;
    padding: 9px 12px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
}

.list-products .products .product .btn-buy {
    background-color: red;
}

.list-products .products .product .btn-seen {
    background-color: red;
}

.list-products .products .product .btn-cart {
    background-color: #89af7d;
}


.list-products .products .product .btn:hover {
    background-color: #ffa384;
    transition: 0.3s ease-in-out;
}

@keyframes my-animation-product {
    0% {
        opacity: 0;
        height: 100px;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        z-index: 1;

        height: 100px;
        z-index: 2;
        transform: translateY(0%);
    }
}

.seen-product {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.seen-product .seen {
    margin: 10px; 
    border-radius: 20px;
    padding: 10px; 
    background-color: red; 
    text-decoration: none;  
    color: white;
}

.seen-product .seen:hover {
    transition: 0.3s ease-in-out;
    background-color: rgb(144, 0, 0); 
}

.events-vouchers {
    position: relative;
    display: flex;
    width: 100%;
    background-color: var(--background-item);
    padding: 20px;
    justify-content: flex-start;
    border-radius: 20px;
    flex-direction: column;
    flex-wrap: wrap;
}

.events-vouchers .events .img {
    position: relative;
    display: block;
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    border-radius: 20px;
}

.events-vouchers .voucher {
    position: relative;
    display: block;
    background-color: #d5edcc;
    width: 100%;
}

