@charset "UTF-8";
/* Khung chuẩn cho màn hình nhỏ (mobile) */
@media (max-width: 576px) {
  body #addCategory form {
    top: 0;
    padding: 10px;
    overflow: hidden;
  }
  body #container {
    position: relative;
    flex-wrap: wrap;
    font-size: 14px;
    border-radius: 0;
  }
  body #container .menu-bar {
    position: fixed;
    display: block;
    left: -100%;
    z-index: 100;
    background-color: rgba(255, 248, 220, 0.6);
    border-radius: 0;
    height: 100vh;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    transition: 0.3s ease-in-out;
  }
  body #container .menu-bar .list-menu {
    height: 100vh;
    background-color: unset;
  }
  body #container .menu-bar .list-menu .menu a {
    padding: 10px 5px;
  }
  body #container .menu-bar:hover {
    display: block;
    left: 0;
  }
  body #container .menu-bar:hover + .overview {
    display: none;
  }
  body #container .menu-bar-icon {
    display: block;
    background-color: #FFFAE6;
    padding: 10px;
    height: -moz-min-content;
    height: min-content;
    width: 100%;
  }
  body #container .menu-bar-icon:focus + .menu-bar {
    display: block;
    left: 0;
    transform: translateX(0);
    transition: 0.3s ease-in-out;
  }
  body #container .menu-bar-icon:focus + .overview {
    display: none;
  }
  body #container .overview {
    border-radius: 0;
    padding: 5px;
    margin: 0px;
  }
  body #container .overview #table {
    width: 100%;
  }
  body #container .overview #table .table-form {
    overflow-x: auto;
  }
}
/* Khung chuẩn cho màn hình tablet nhỏ */
@media (min-width: 577px) and (max-width: 768px) {
  body #addCategory form {
    top: 0;
    padding: 10px;
    overflow: hidden;
  }
  body #container {
    position: relative;
    flex-wrap: wrap;
    font-size: 14px;
    border-radius: 0;
  }
  body #container .menu-bar {
    position: fixed;
    display: block;
    left: -100%;
    z-index: 100;
    background-color: rgba(255, 248, 220, 0.6);
    border-radius: 0;
    height: 100vh;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    transition: 0.3s ease-in-out;
  }
  body #container .menu-bar .list-menu {
    height: 100vh;
    background-color: unset;
  }
  body #container .menu-bar .list-menu .menu a {
    padding: 10px 5px;
  }
  body #container .menu-bar:hover {
    display: block;
    left: 0;
  }
  body #container .menu-bar:hover + .overview {
    display: none;
  }
  body #container .menu-bar-icon {
    display: block;
    background-color: #FFFAE6;
    padding: 10px;
    height: -moz-min-content;
    height: min-content;
    width: 100%;
  }
  body #container .menu-bar-icon:focus + .menu-bar {
    display: block;
    left: 0;
    transform: translateX(0);
    transition: 0.3s ease-in-out;
  }
  body #container .menu-bar-icon:focus + .overview {
    display: none;
  }
  body #container .overview {
    border-radius: 0;
    padding: 5px;
    margin: 0px;
  }
  body #container .overview #table {
    width: 100%;
  }
  body #container .overview #table .table-form {
    overflow-x: auto;
  }
  body #container .overview .quantity-data .box-quantity {
    flex-direction: unset;
  }
  body #container .overview .quantity-data .box-quantity img {
    max-width: 60px;
  }
}
/* Khung chuẩn cho màn hình tablet lớn */
@media (min-width: 769px) and (max-width: 992px) {
  body #addCategory form {
    top: 10px;
    padding: 10px;
    overflow: auto;
  }
  body #container {
    position: fixed;
    font-size: 14px;
    border-radius: 10px;
    gap: 5px;
  }
  body #container .menu-bar {
    margin: 5px 0px;
  }
  body #container .menu-bar-icon {
    display: none;
  }
  body #container .overview {
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0px;
    overflow: auto;
    height: 99vh;
    width: 100%;
  }
  body #container .overview #table {
    width: 100%;
  }
  body #container .overview #table .table-form {
    overflow-x: auto;
  }
  body #container .overview .tool-bar .interact_product .search_product #form_search {
    flex-direction: column;
  }
  body #container .overview .quantity-data .box-quantity {
    flex-direction: unset;
  }
  body #container .overview .quantity-data .box-quantity img {
    max-width: 60px;
  }
}
/* Khung chuẩn cho màn hình desktop nhỏ */
@media (min-width: 993px) and (max-width: 1200px) {
  body #addCategory form {
    top: 10px;
    padding: 10px;
    overflow: auto;
    height: 100vh;
  }
  body #container {
    position: fixed;
    font-size: 16px;
    border-radius: 10px;
    gap: 5px;
  }
  body #container .menu-bar {
    margin: 5px 0px;
  }
  body #container .menu-bar-icon {
    display: none;
  }
  body #container .overview {
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0px;
    overflow: auto;
    height: 99vh;
    width: 100%;
  }
  body #container .overview .tool-bar .interact_product .search_product {
    align-items: unset;
  }
  body #container .overview .tool-bar .interact_product .search_product #form_search {
    flex-direction: row;
  }
  body #container .overview #table {
    width: 100%;
  }
  body #container .overview #table .table-form {
    overflow-x: auto;
  }
  body #container .overview .quantity-data .box-quantity {
    flex-direction: unset;
  }
  body #container .overview .quantity-data .box-quantity img {
    max-width: 60px;
  }
}
/* Khung chuẩn cho màn hình desktop lớn */
@media (min-width: 1201px) {
  body #addCategory form {
    top: 10px;
    padding: 10px;
    overflow: auto;
    height: 100vh;
  }
  body #container {
    position: fixed;
    font-size: 16px;
    border-radius: 10px;
    gap: 5px;
  }
  body #container .menu-bar {
    font-size: 16px;
    margin: 5px 0px;
  }
  body #container .menu-bar-icon {
    display: none;
  }
  body #container .overview {
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0px;
    overflow: auto;
    height: 99vh;
    font-size: 16px;
    width: 100%;
  }
  body #container .overview .toolbar .search {
    align-items: center;
  }
  body #container .overview .toolbar .search input {
    height: unset;
  }
  body #container .overview .list-categorys .list-fashion {
    font-size: 16px;
  }
  body #container .overview #table {
    font-size: 20px;
    width: 100%;
  }
  body #container .overview #table .table-form {
    overflow-x: auto;
  }
  body #container .overview .tool-bar .interact_product .search_product {
    align-items: unset;
  }
  body #container .overview .tool-bar .interact_product .search_product #form_search {
    flex-direction: row;
  }
  body #container .overview .quantity-data .box-quantity {
    flex-direction: unset;
  }
  body #container .overview .quantity-data .box-quantity img {
    max-width: 60px;
  }
}
