:root {
    --background-item: #fff6ea;
    --background-product: #D5ED9F;
    --background: #ffe0ae ;
    --text-color: #800000;
}

#auth {
    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    input {
        display: block;
        font-family: "Saira Semi Condensed", sans-serif;
        font-weight: 800;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid lightgray;
        width: 100%;
        max-width: 400px;
        padding-left: 5px;
        font-size: 16px;

        &:focus-visible {
            border: 2px solid transparent;
            outline: none;
            box-shadow: 0 0 5px 5px #8accfb;
        }
    }
    
    a {
        position: relative;
        display: inline-block;
        border-radius: 10px;
        padding: 9px 12px;
        color: white;
        text-decoration: none;
        background-color: red;
    }

    a:hover {
        background-color: rgb(153, 1, 1);
    }

    button {
        display: block;
        font-family: "Saira Semi Condensed", sans-serif;
        font-weight: 600;
        font-size: 16px;
        padding: 5px 8px;
        background-color: var(--background-btn);
        border: 1px solid var(--background-btn);
        border-radius: 5px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #83abfc;
        transition: 0.3s ease-in-out;
    }

    #forget_password  {
        form {
            display: block;
            .mail {
                display: flex;
                gap: 20px;
                max-height: 100px;
                margin-bottom: 10px;
            }

            .code {
                display: flex;
                margin: 10px 0;
                gap: 20px;
                input {
                    padding: 0;
                    width: 50px;
                    height: 50px;
                    border-radius: 10px;
                    text-align: center;
                }
            }
        }
    }
}

#products-info {
    .product {
        position: relative;
        display: flex;
        background-color: var(--background-product);
        text-align: center;
        width: 100%;
        margin-top: 10px;
        gap: 10px;
        padding: 10px;
        border-radius: 10px;

        .seen-product {
            text-decoration: none; 
            color: red;

            &:hover {
                color: #ffa384;
            }
        }

        .information-product {
            display: flex;
            font-size: 20px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;

            .quantity {
                position: relative;
                display: flex;
                gap: 20px;
                align-items: center;

                .quantity-func {
                    position: relative;
                    display: flex;
                    gap: 20px;
                    color: var(--text-color);
                    background-color: #d5edcc;
                    padding: 5px;
                    border-radius: 10px;

                    a {
                        color: var(--text-color);

                        &:hover {
                            color: rgb(252, 0, 0);
                        }
                    }
                }
            }
        }

        .image {
            position: relative;
            display: inline-block;

            .img {
                position: relative;
                display: block;
                width: 100%;
                max-width: 250px;
                max-height: 200px;
                border-radius: 20px;
                object-fit: contain;
            }

            .animation-img {
                position: absolute;
                display: inline-block;
                opacity: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                max-height: 100px;
                padding: 10px;
                border-radius: 20px;
                height: 100px;
                background-color: rgba(0, 0, 0, 0.104);
                transform: translateY(100%);
                transition: 0.3s ease-in-out;
                z-index: -1;

                // Hiệu ứng hover cho animations-img
                &:hover {
                    opacity: 1;
                    transform: translateY(0%);
                    z-index: 1;
                }
            }

            // Hiệu ứng hover cho img
            &:hover .img {
                filter: blur(4px);
                transition: 0.3s ease-in-out;
            }
        }
    }
}

// Truncate class
.truncate-1 {
    display: -webkit-box;  
    color: var(--text-color);
    -webkit-line-clamp: 1;      
    -webkit-box-orient: vertical; 
    overflow: hidden;            
    text-overflow: ellipsis;   
}
