/* Khung chuẩn cho màn hình nhỏ (mobile) */
@media (max-width: 576px) {
    body {
        #addCategory {
            form {
                top: 0;
                padding: 10px;
                overflow: hidden;
            }
        }
        #container {
            position: relative;
            flex-wrap: wrap;
            font-size: 14px;
            border-radius: 0;

            .menu-bar {
                position: fixed;
                display: block;
                left: -100%;
                z-index: 100;
                background-color: rgba(255, 248, 220, 0.6);
                border-radius: 0;
                height: 100vh;
                backdrop-filter: blur(4px);
                transition: 0.3s ease-in-out;

                .list-menu {
                    height: 100vh;
                    background-color: unset;
                    .menu a{
                        padding: 10px 5px;
                    }
                }

                &:hover {
                    
                    display: block;
                    left: 0;
                }

                &:hover + .overview{
                    display: none;
                }
            }

            .menu-bar-icon {
                display: block;
                background-color: #FFFAE6;
                padding: 10px;
                height: min-content;
                width: 100%;

                &:focus + .menu-bar {
                    display: block;
                    left: 0;
                    transform: translateX(0);
                    transition: 0.3s ease-in-out;
                }
                
                &:focus + .overview {
                    display: none;
                }
            }

            .overview {
                border-radius: 0;
                padding: 5px;
                margin: 0px;
                #table {
                    width: 100%;
                    .table-form {
                        overflow-x: auto;
                    }
                }
            }
        }
    }
}

/* Khung chuẩn cho màn hình tablet nhỏ */
@media (min-width: 577px) and (max-width: 768px) {
    
}

/* Khung chuẩn cho màn hình tablet lớn */
@media (min-width: 769px) and (max-width: 992px) {
   
}

/* Khung chuẩn cho màn hình desktop nhỏ */
@media (min-width: 993px) and (max-width: 1200px) {
    
}

/* Khung chuẩn cho màn hình desktop lớn */
@media (min-width: 1201px) {
    
}
