.overview .statistics {
    position: relative;
    display: block;
    text-decoration: none;
}

.statistics .quantity-data {
    position: relative;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    
}   

.statistics .quantity-data img {
    position: relative;
    display: block;
    width: 100%;
}


.quantity-data .box-quantity {
    position: relative;
    display: flex;
    border-radius: 10px;
    background-color: #A6FF96;
    width: calc(100% / 4 - 10px);
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}

.box-quantity .bg-box {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 50%;
}

.box-quantity .content-box {
    position: relative;
    font-family: "Urbanist", sans-serif;
}